@import url('https://fonts.cdnfonts.com/css/tt-octosquares-trl');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Trad+Guides&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #123458;
    color: #D4C9BE;
}

.content__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 0.75rem;
}

.logo__principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'TT Octosquares Trial Variable', sans-serif;
    color: #ffffff;
    font-size: 6.25rem;
    font-weight: 500;
}

.logo__pequena {
    width: 8rem;
    height: 8rem;
}

.buttoms {
    display: flex;
    align-content: space-between;
    gap: 2rem;
}

.buttoms__edital,
.buttoms__inscrito {
    background-color: #ffffff;
    color: #123458;
    text-decoration: none;
    width: 18.75rem;
    height: 6.25rem;
    border-radius: 1.5rem;
    text-align: center;
    font-family: 'TT Octosquares Trial Variable', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttoms__inscrito {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 100%;
}

.rodape {
    background-color: #030303;
    color: #D4C9BE;
    text-align: center;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 2.5rem;
    width: 100%;
    margin-top: 2rem;
}

@media (max-height: 882px){
    .buttoms__edital, .buttoms__inscrito{
        width: 17rem;
        height: 6rem;
        font-size: 2.5rem;
    }

    .rodape{
        margin-top: 5rem;
    }
}

@media (max-width: 768px) {
    .logo__principal {
        font-size: 5rem;
    }

    .buttoms__edital,
    .buttoms__inscrito {
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }

    .rodape {
        font-size: 1.8rem;
    }
}

@media (max-width: 540px) {
    .logo__principal {
        font-size: 2.5rem;
        gap: 0.5rem;
    }

    .logo__pequena {
        width: 3.9rem;
        height: 3.9rem;
    }

    .buttoms {
        display: flex;
        flex-direction: column;
    }
}



